@font-face {
   font-family: 'KaeliaSemibold';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-06_020148/fonts/KaeliaSemibold/font.ttf');
}
